@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --navHeight: 60px;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
    scroll-behavior: smooth;
}

/* navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navHeight);
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 grey;
    transition: 0.3s;
    z-index: 1;
}
nav.scrolled {
    height: calc(var(--navHeight) * 1.2);
}
nav img.scrolled {
    height: calc(var(--navHeight) * 0.8);
}
nav div a.scrolled {
    font-size: 1.2rem;
}

nav img {
    height: calc(var(--navHeight) * 0.6);
    position: absolute;
    transition: 0.3s;
}
nav img:last-of-type {
    opacity: 0;
}
nav > a:hover > img:last-of-type {
    opacity: 1;
}
nav div {
    display: flex;
}
nav a {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0px 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    color: black;
}
nav div a:hover {
    color: #00c2ff;
    text-shadow: 0px 0px 8px #00c2ff;
}

/* main page */
#wrapper {
    margin: auto;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}

.slogan a {
    display: inline-block;
    margin: 30px 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 2px solid;
    transition: 0.5s;
}

.slogan a:hover {
    background-color: #00c2ff;
}

.carousel div {
    display: flex;
    position: relative;
    height: 240px;
    overflow: hidden;
}
.carousel img {
    position: absolute;
    left: 0px;
    margin: 5px 5px;
}
.carousel .firstLine img {
    animation: anim 1000000s linear;
}
.carousel .secondLine img {
    animation: anim 500000s linear;
}
.carousel .thirdLine img {
    animation: anim 750000s linear;
}

@keyframes anim {
    to {
        transform: translateX(-10000000px);
    }
}

/* Image Generator */

.flex {
    display: flex;
    margin-top: var(--navHeight);
    border-bottom: 3px solid #d9d9d9;
}

/* Left side of the screen */

.settings {
    flex-basis: 300px;
    flex-shrink: 0;
    padding: 10px;
    border-right: 3px solid #d9d9d9;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: calc(100vh - var(--navHeight));
}

i.fa-question {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 0.7rem;
    vertical-align: text-bottom;
    cursor: help;
}

label {
    margin: 10px 0 5px;
}

textarea,
select,
input,
button {
    padding: 8px;
    border-radius: 10px;
}

textarea:focus,
select:focus,
input:focus {
    box-shadow: 0px 0px 10px 0px #00c2ff;
}

textarea {
    resize: none;
}

label[for="safefilter"] {
    margin-right: 5px;
}

.safefilterContainer {
    display: flex;
    align-items: center;
}

/* custom checkbox */
input[type="checkbox"] {
    appearance: none;
    margin: 3px 0 0 5px;
    border: 2px solid black;
    padding: 2px 2px 2px 2px;
    width: 56px;
}

input[type="checkbox"]:checked {
    color: #00c2ff;
}

input[type="checkbox"]::after {
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
    content: "";
    display: block;
    height: 18px;
    transform: translateX(0px);
    transition: 0.3s;
    width: 20px;
}

input[type="checkbox"]:checked::after {
    background-color: #00c2ff;
    transform: translateX(28px);
}

button {
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #00c2ff;
}

/* Right side of the screen */
.output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    padding: 30px;
    height: calc(100vh - var(--navHeight));
}
.generatedImg {
    max-height: 100%;
    max-width: 100%;
}

.loaderContainer{
    display: none;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 20px solid #00c2ff;
    border-left-color: #fff0;
    border-right-color: #fff0;
    animation: rotateLoader 1s infinite;
    margin-bottom: 20px;
}
@keyframes rotateLoader {
    to {
        transform: rotate(180deg);
    }
}
